@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .clip_path{
        clip-path: polygon(0 0, 50% 0, 100% 0, 100% 88%, 50% 100%, 0 88%);
    }
    .heading{
        /* @apply text-[30px] md:[35px] lg:text[45px] xl:text-[50px] uppercase font-bold text-gray-900 md:leading-[4rem] text-center */

        @apply text-[30px] md:text-[35px] lg:text-[45px] xl:text-[50px] uppercase font-bold text-gray-900 md:leading-[4rem] text-center;
    }
    }


    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }

    input[type="time"]::-webkit-calendar-picker-indicator{
        filter: invert(1);
    }

    input[type="time"]::-webkit-calendar-picker-indicator::after{
        filter: invert(1);
    }


    .custom-dot-list-style {
        bottom: 20px; /* Adjust dot position */
      }
      
      .react-multi-carousel-list {
        overflow: hidden; /* Hide overflow */
      }
      
      .react-multi-carousel-item {
        transition: transform 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; /* Ensure each slide takes up full width */
      }
      
      .carousel-item-padding-40-px {
        padding: 20 40px; /* Padding between slides */
      }

      .react-multi-carousel-list {
        overflow: hidden; /* Prevent multiple slides from being visible */
      }
      